body {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: auto;
    width: 700px;
    border-radius: 1rem;
    box-shadow: 1px 3px 8px 1px rgb(0, 0, 0, 0.4);
    margin-top: 1.2rem;
    padding: 2rem;
    overflow: hidden;
    background-color: #220d25;
}

.header-title {
    font-size: 1.8rem;
    font-weight: 400;
    color: #fecd23;
    text-align: center;
    margin-bottom: 2rem;
}

.header-subtitle {
    text-align: center;
    font-size: 0.9rem;
}

.register {
    margin: auto;
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
    background-color: #651c6a;
}

.register-title {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

input {
    padding: 5px;
    width: 80%;
    height: 2rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 0;
    margin: 10px;
}

input:focus {
    outline: none;
    box-shadow: 0 0 1rem #19ffff;
}

button {
    background-color: #1d0c20;
}

button:hover {
    background-color: #651c6a;
}

.credits {
    margin-top: 0.8rem;
    text-align: center;
    font-size: 0.9rem;
}